.nav {
  background: grey;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
}

ul li{
  float: left;
}

li .nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
  border-left: 2px solid black;
}

li .nav-item:hover:not(.active) {
  background-color: #D3D3D3;
}

.active {
  background-color: #6A5ACD;
}

.right {
 float: right;
}

/* .logout-btn{
  height: 25px;
  margin-top: 12px;
  background-color: grey;
  border: none;
  font-size: 25px;
  
}
 */

