.info-container{
margin: 0 auto;
text-align: center;  
background-color: black;
padding: 20px;
height: 100vh;
}

.info-container h1 {
  font-size: 40px;
  color: white;
}

p{
  color: white;
  font-size: 28px;
}

.f-pg p {
  font-size: 28px;
 color: black;
}

.f-pg {
 display: inline-block;
 width: 33%;
}

.info-progression {
margin-top: 200px;  
background-color: white;
padding-top: 40px;
padding-bottom: 25px;
}

