.landing-page{
  margin: 0 auto;
  text-align: center;
  background-color: #72a2f4;
}

.landing-page h1 {

  padding: 25px;
  margin: 0;
  font-size: 35px;
  color: 	#fffafa;
 
}

.landing-page h2 {

  padding: 25px;
  margin: 0;
  font-size: 30px;
  color: 	#fffafa;
}
.app-info{
  background-color: #141851;
 padding: 20px;
}
.app-info h5{
  padding-top: 20px;
  font-size: 24px;
  color: 	#fffafa;
}

.app-info p {
  font-size: 25px;
  color: 	#fffafa;
}

.app-info img {
  width: 100px;
}

/* background-color: #5A7A6E;
background-color: #31545A; */