.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 10px;
  padding-bottom: 10px;
  float: none;
}

.react-tabs__tab--selected {
  background: rgba(148, 148, 148, 0.644);
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.rg-head, .lg-head{

text-align: center;
padding-top: 40px

}

.react-tabs__tab-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #97CAEF;
}