body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-error {
  color: red;
 padding-right: 15px;
  display: inline;
  margin-left: 15px;
}

@font-face{ 
	font-family: 'Dragon Alphabet';
	src:
       url('dov3_th9m-webfont.woff') format('woff'),
       url('dov3_th9m-webfont.woff2') format('woff2'),
	     url('dov3_th9m-webfont.ttf') format('truetype')
}

