.login-form {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}

.login-form label{
  font-size: 25px;
}

.login-form button {
  margin: 10px;
  width: 100px;
  height: 50px;
 background-color: rgb(102, 102, 102);
 border-radius: 8px;
 color: white;
 font-size: 20px;
}

.login-form input{
  width: 50%;
  height: 25px;
  border-radius: 15px;
  outline: none;
  padding: 6px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.login-form input:focus{
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
}

.form-error{
  color: black;
}